[user]
	name = Daniel Ge
	email = dange@seas.upenn.edu
[core]
	editor = vim
[alias]
	addp = add -p
	stat = status -sb
	wdiff = diff --word-diff
	cdiff = diff --cached
	graph = log --oneline --decorate --graph
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
	ignored = !git ls-files -v | grep "^[a-z]"
	show-files = show --pretty="format:" --name-only
	stashes = stash list
	opush = push origin
	mopush = push origin master
[color]
	ui = 1
