[user]
	name = Daniel Ge
	email = dange@seas.upenn.edu
[core]
	editor = vim
[alias]
	stat = status -sb
	s = status -sb
	wdiff = diff --word-diff
	cdiff = diff --cached
	idiff = diff --ignore-space-at-eol -b -w --ignore-blank-lines
	graph = log --oneline --decorate --graph
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
	ignored = !git ls-files -v | grep "^[a-z]"
	show-files = show --pretty="format:" --name-only
	stashes = stash list
	opush = push origin
	mopush = push origin master
	ap = add -p
	co = checkout
	cm = commit
	f = fetch
	m = merge
	p = push
	d = diff
[color]
	ui = 1
[push]
	default = upstream
[merge]
    defaultToUpstream = true
